.pomelo-post-content {

  .kg-width-wide img {
    max-width: 85vw;
  }

  .kg-width-full img {
    max-width: 100vw;
  }

  .kg-image-card {
    .kg-image {
      margin: 0 auto;
      height: auto;
    }
  }

  .kg-gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .kg-gallery-container {
      display: flex;
      flex-direction: column;
      max-width: 65rem;
      width: 100vw;
      .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &:not(:first-of-type) {
          margin: 0.75rem 0 0 0;
        }
        .kg-gallery-image {
          img {
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;
          }
          &:not(:first-of-type) {
            margin: 0 0 0 0.75rem;
          }
        }
      }
    }
  }

  figcaption {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem 0;
    opacity: 0.5;
  }

  // bookmark
  .kg-bookmark-card {
    width: 100%;
    box-sizing: border-box;
    border: 0.0625rem solid #e5eff5;
    border-radius: 0.25rem;
    position: relative;
    .kg-bookmark-container {
      display: flex;
      color: #{var(--color-text-primary)};;
      text-decoration: none;
      box-shadow: none;
      min-height: 7.5rem;
      .kg-bookmark-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1.25rem;

        .kg-bookmark-title {
          font-size: 1.5rem;
          line-height: 1.5em;
          font-weight: 600;
          transition: color .2s ease-in-out;
        }
        .kg-bookmark-description {
          display: -webkit-box;
          font-size: 1rem;
          line-height: 1.5em;
          margin-top: 0.1875rem;
          color: #{var(--color-text-primary)};;
          font-weight: 400;
          max-height: 2.75rem;
          overflow-y: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .kg-bookmark-metadata {
          color: #{var(--color-text-primary)};;
          font-size: 0.8rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          margin-top: 1.375rem;
          .kg-bookmark-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.375rem;
          }
          .kg-bookmark-author {
            color: #{var(--color-text-primary)};;
            font-weight: 400;
            &:after {
              content: "•";
              color: #{var(--color-text-primary)};
              margin: 0 0.375rem;
            }
          }
          .kg-bookmark-publisher {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 15rem;
            white-space: nowrap;
            display: block;
            line-height: 1.65em;
          }
        }

      }
      .kg-bookmark-thumbnail {
        position: relative;
        flex-grow: 1;
        min-width: 33%;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
    figcaption {
      border-top: 0.0625rem solid #e5eff5;
      font-size: 0.8rem;
      padding: 0.25rem 0;
      opacity: 0.5;
    }
  }

  .fluid-width-video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .kg-card.kg-embed-card iframe {
    width: 100%!important;
  }
}
