progress.reading-progress-bar {
  appearance: none;
  width: 100%;
  height: 2px;
  z-index: 9999;
}

progress.reading-progress-bar[value]::-webkit-progress-bar {
  background-color: rgba(0,0,0,0.5);
}

progress.reading-progress-bar[value]::-webkit-progress-value {
  background-color: #3eb0ef;
}
