{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  {{> page-header}}
  <main class="main-content">
    <div class="container-sm">
      <div class="row">
        <article class="borderbox post-content post-content-use-blank">
          {{content}}
        </article>
      </div>
    </div>
  </main>
{{/post}}
