<section class="post-donation text-center w-100">
    <button type="button" class="btn btn-donation" data-toggle="collapse" data-target="#collapseDonation" aria-expanded="false" aria-controls="collapseDonation" title="捐赠">
        <i class="fas fa-coffee"></i>
    </button>
    <div class="collapse collapse-donation" id="collapseDonation">
        <div class="card card-body card-collapse">
            <div class="row">
                <div class="col-sm">
                    <figure class="figure">
                        <img src="https://img.alicdn.com/imgextra/i4/2038135983/O1CN011u4G8M87EOv3N6Q_!!2038135983.jpg" alt="支付宝捐赠" title="请使用支付宝扫一扫进行捐赠">
                        <figcaption class="figure-caption">请使用支付宝扫一扫进行捐赠</figcaption>
                    </figure>
                </div>
                <div class="col-sm">
                    <figure class="figure">
                        <img src="https://img.alicdn.com/imgextra/i1/2038135983/O1CN012t8d2E1u4G8KbRFYp_!!2038135983.png" alt="微信捐赠" title="请使用微信扫一扫进行赞赏">
                        <figcaption class="figure-caption">请使用微信扫一扫进行赞赏</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
