<div class="site-pagination" role="navigation">
    <nav aria-label="文章分页">
        <ul class="pagination">
            {{#if prev}}
                <li class="page-item">
                    <a class="page-link" href="{{page_url prev}}" aria-label="上一页" title="上一页">
                        <span aria-hidden="true">
                            <i class="fas fa-angle-left"></i>
                        </span>
                    </a>
                </li>
            {{/if}}
            <li class="page-item"><a class="page-link">{{t "第{page}页，共{pages}页" page=page pages=pages}}</a></li>
            {{#if next}}
                <li class="page-item">
                    <a class="page-link" href="{{page_url next}}" aria-label="下一页" title="下一页">
                        <span aria-hidden="true">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</div>
