@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1rem;
    text-size-adjust: none;
}

.ghost-display {
    display: block !important;
}
