<nav class="ha__main-post-nav" aria-label="文章导航">
  <div class="d-none" aria-hidden="true">
    <span class="curr-page">{{page}}</span>
    <span class="total-pages">{{pages}}</span>
  </div>
  <ul class="pagination justify-content-center">
    {{#if prev}}
      <li class="page-item">
        <a href="{{page_url prev}}" class="page-link" aria-label="上一页">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{/if}}
    {{#if next}}
      <li class="page-item">
        <a href="{{page_url next}}" class="page-link" aria-label="下一页">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{/if}}
  </ul>
</nav>
