<div class="ha__main-to-top d-flex justify-content-center align-items-center flex-column shadow animated">
  <i class="fas fa-chevron-up to-top-icon"></i>
  <svg class="reading-progress-svg" aria-hidden="true" viewBox="0 0 50 50">
    <circle class="reading-progress-circle"
            fill="transparent"
            r="23.5"
            stroke-width="3"
            cx="25"
            cy="25"
    >
    </circle>
  </svg>
</div>
