<div class="sidebar-container">
  <div class="d-flex justify-content-between sidebar-header">
    <div class="sidebar-title">{{@site.title}}</div>
    <div class="d-flex sidebar-right">
      <div class="d-flex align-items-center justify-content-center sidebar-search click-search">
        <i class="fas fa-search"></i>
      </div>
      <div class="d-flex align-items-center justify-content-center sidebar-close">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
  {{navigation mobile=true}}
  <div class="mt-2 text-center sidebar-footer">
    <button type="button" class="btn site-tooltip btn-footer btn-dark-mode click-dark" data-toggle="tooltip" data-placement="bottom" title="åˆ‡æ¢é£Žæ ¼">
      ðŸŒ“
    </button>
  </div>
</div>
