<footer class="main-footer">
  <div class="container d-flex justify-content-md-between justify-content-center">
    <div class="text-center main-footer-copyright">
      <p>Powered by <a href="https://ghost.org/" rel="noopener nofollow" target="_blank">Ghost</a>. Copyright &copy; {{date format="YYYY"}}. Crafted with <a href="https://github.com/JaxsonWang/rebirth" target="_blank" rel="noopener nofollow">Rebirth</a>.</p>
    </div>
    <div class="d-none d-md-block main-footer-meta">只争朝夕，不负韶华。</div>
  </div>
  <div class="container d-flex flex-wrap-reverse justify-content-md-between justify-content-center text-center main-footer-audit">
    <p>
      <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener">苏ICP备15050739号-4</a>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener">苏公网安备32010402000196号</a>
      <a href="https://tongji.baidu.com/web/welcome/ico?s=075de8ed5c2bfb5f678b1a620749aee4" target="_blank" rel="nofollow noopener">百度统计</a>
    </p>
  </div>
</footer>
