{{#tag}}
  <section class="main-hero">
    {{> header-background background=feature_image}}
    <div class="main-hero-bg {{#if feature_image}}responsive-header-img{{else}}no-image{{/if}}"></div>
    <div class="d-flex flex-column align-content-center justify-content-center main-hero-content">
      <div class="text-center main-hero-content-title">{{name}}</div>
      <div class="text-center main-hero-content-description">
        {{description}}
      </div>
      <div class="text-center main-hero-content-description">
        {{plural ../pagination.total empty='没有任何写作' singular='该标签下有 % 篇文章' plural='该标签下有 % 篇文章'}}
      </div>
    </div>
    {{> site-hero-waves-area}}
  </section>
{{/tag}}
