<aside class="brave-mobile-wrapper">
  <div class="brave-mobile-mask"></div>
  <div class="brave-mobile-sidebar">
    <nav class="brave-mobile-sidebar-nav">
      {{navigation}}
    </nav>
  </div>
</aside>
