<ul class="nav flex">
  {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}} mr-2">
      <a href="{{url absolute="true"}}" class="hover:text-gray-500">{{label}}</a>
    </li>
  {{/foreach}}
</ul>
