<aside class="pomelo-mobile-wrapper">
  <div class="pomelo-mobile-mask"></div>
  <div class="pomelo-mobile-sidebar">
    <nav class="pomelo-mobile-sidebar-nav">
      {{navigation}}
    </nav>
  </div>
</aside>
