{{!-- The global footer at the very bottom of the screen --}}
<footer class="pomelo-footer">
  <div class="container">
    <div class="pt-12 pb-12 px-4 md:px-0 md:pb-20">
      <nav class="pomelo-footer-nav mt-8 mb-16">
        {{navigation type="secondary"}}
      </nav>
      <div class="pomelo-footer-copyright">
        <div class="flex md:justify-between justify-center my-2">
          <section class="text-center">
            <p>Powered by <a href="https://ghost.org/" rel="noopener nofollow" target="_blank">Ghost</a>. Copyright &copy; 2021 ~ {{date format="YYYY"}}. ❤️ Crafted with <a href="https://iiong.com" target="_blank" rel="noopener nofollow">Pomelo</a> Theme.</p>
          </section>
          <div class="hidden md:block">只争朝夕，不负韶华。</div>
        </div>
        <div class="flex flex-wrap-reverse md:justify-between justify-center text-center my-2">
          <p>
            <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener" class="block md:inline">苏ICP备15050739号</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener" class="block md:inline">苏公网安备32010402000196号</a>
            <a href="https://tongji.baidu.com/web/welcome/ico?s=075de8ed5c2bfb5f678b1a620749aee4" target="_blank" rel="nofollow noopener" class="block md:inline">百度统计</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
{{> "site-mobile-sidebar"}}
