a {
  &:hover {
    text-decoration: none;
  }
}

.date-divider {
  margin-left: 5px;
  margin-right: 5px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

@mixin light-mode {
  :root {
    --color-content: light;
  }
}

@mixin dark-mode {
  :root {
    --color-content: dark;
  }

  body {
    color: $dark-main-color;
    background: $dark-background-color;
  }
}

@media (prefers-color-scheme: light) {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  @include dark-mode;
}

[data-theme="light"] {
  @include light-mode;
}

[data-theme="dark"] {
  @include dark-mode;
}
