{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!--Special header-background.hbs partial to generate the background image--}}
{{> "site-hero" backgroundImage=@site.cover_image showContent=true}}

{{!-- The main content area --}}
<main class="site-posts-list">
  <div class="container mx-auto px-4 md:px-8">
    <div class="post-card-list">
      {{#foreach posts}}
      {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
  </div>
</main>

{{pagination}}

{{> "site-to-top"}}
