{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{#post}}

{{!--Special header-background.hbs partial to generate the background image--}}
  {{> "site-hero" backgroundImage=feature_image}}


  {{!-- The main content area --}}
  <main class="site-posts-main dark:bg-slate-800">
    <div class="container px-4 md:px-10">
      <article class="py-12">
        {{> "post-content"}}
      </article>
    </div>
  </main>

{{/post}}
