{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{#post}}

{{!--Special header-background.hbs partial to generate the background image--}}
  {{> "site-hero" backgroundImage=feature_image}}


  {{!-- The main content area --}}
  <main class="site-posts-main dark:bg-slate-800">
    <div class="container px-4 md:px-10">
      <article class="py-12">
        {{> "post-title"}}
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-10">
            {{> "post-content"}}
          </div>
          <div class="col-span-2 hidden md:block relative">
            <div class="pomelo-article-toc event-article-toc"></div>
          </div>
        </div>
      </article>
      {{> "post-copyright"}}
    </div>
    {{> "post-divider"}}
    {{#if comments}}
      <div class="container">
        <section class="mt-14 text-black dark:text-white">
          {{comments title="评论" mode="auto"}}
        </section>
      </div>
    {{/if}}
  </main>

  {{> "post-to-top"}}
{{/post}}
