{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}
{{> site-hero}}

{{!-- The main content area --}}
<main class="main-content">
  <div class="container-sm pb-3 pb-lg-0">
    {{#foreach posts}}
      {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
      {{> "post-card"}}
    {{/foreach}}
  </div>

  {{pagination}}
</main>
