{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main class="ha__main {{body_class}} custom-template custom-links-template">
  {{#post}}
    {{#if feature_image}}
      <section class="ha__main-hero ha__main-hero-article d-flex justify-content-center align-items-center">
        {{> "header-background" background=feature_image}} {{!--Special header-background.hbs partial to generate the background image--}}
      </section>
    {{else}}
      <section class="ha__main-hero ha__main-hero-no-feature-image"></section>
    {{/if}}
    <div class="ha__main-article">
      <div class="container">
        <div class="ha__main-article-main my-5">
          <article class="ha__main-article-content">{{content}}</article>
        </div>
      </div>
    </div>
    {{> "site-to-top"}}
  {{/post}}
</main>
