.ha__body.dark {
  .aplayer.aplayer-fixed {
    background-color: #{var(--background-color)};
    .aplayer-body {
      background-color: #{var(--background-color)};
    }
    .aplayer-icon {
      background-color: #{var(--background-color)};
    }
    .aplayer-list {
      border-color: #{var(--background-color-assist-2)};
      ol li {
        background-color: #{var(--background-color)};
      }
      ol li.aplayer-list-light {
        background-color: #{var(--background-color)};
      }
    }
    .aplayer-lrc {
      display: none;
    }
  }
}
