.ha__main-article {
  &-title {
    font-size: 1.5rem;
  }
  &-description {
    font-size: 0.8rem;
    .meta-cut {
      margin: 0 0.1rem;
      opacity: 0.5;
    }
  }
  .ha__main-article-main {
    .ha__main-article-content {
      font-size: 1rem;
      &.ha__main-article-content-default {
        font-size: 1rem;
      }

      & > ol:first-child,
      & > ul:first-child {
        margin-top: 1.875em;
      }
      a {
        color: #4183c4;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        position: relative;
        margin-top: 1.8em;
        margin-bottom: 1em;
        font-weight: 400;
        line-height: 1.4;
        cursor: text;
      }
      h1:hover a.anchor,
      h2:hover a.anchor,
      h3:hover a.anchor,
      h4:hover a.anchor,
      h5:hover a.anchor,
      h6:hover a.anchor {
        text-decoration: none;
      }
      h1 tt,
      h2 tt,
      h3 tt,
      h4 tt,
      h5 tt,
      h6 tt {
        font-size: inherit;
      }
      h1 {
        text-align: center;
        padding-bottom: .3em;
        font-size: 2.25em;
        line-height: 1.2;
        margin: 1em auto 1.2em;
        font-weight: 300;
      }
      h1:after {
        border-bottom: 0.125em dashed #afec9e;
        content: '';
        width: 6.25em;
        display: block;
        margin: .2em auto 0;
        height: 0.125em;
      }
      h2 {
        font-size: 1.75em;
        padding-left: 0.5625em;
        line-height: 1.4;
        border-left: 5px solid #cce5ff;
      }
      h3 {
        font-size: 1.5em;
        line-height: 1.43;
        &:before {
          border-radius: 50%;
          background-color: #9ed0ff;
          content: '';
          width: 0.375em;
          display: inline-block;
          height: 0.375em;
          line-height: 0.375em;
          vertical-align: middle;
          margin-bottom: .18em;
          margin-right: 0.5em;
        }
      }
      h4 {
        font-size: 1.25em;
      }
      h4:before {
        background-color: #9ed0ff;
        content: '';
        width: 0.375em;
        display: inline-block;
        height: 0.125em;
        vertical-align: middle;
        margin-bottom: .18em;
        margin-right: 0.5em;
      }
      h5 {
        font-size: 1em;
      }
      h6 {
        font-size: 1em;
        color: #777;
      }
      blockquote,
      dl,
      ol,
      p,
      table,
      ul {
        margin: .8em 0;
      }
      ul.todo-list {
        list-style: none;
      }
      li > ol,
      li > ul {
        margin: 0;
      }
      hr {
        height: .25em;
        padding: 0;
        margin: 1.5em 0;
        background-color: #e1e4e8;
        border: 0;
      }
      a:first-child h1,
      a:first-child h2,
      a:first-child h3,
      a:first-child h4,
      a:first-child h5,
      a:first-child h6 {
        margin-top: 0;
        padding-top: 0;
      }
      h1 p,
      h2 p,
      h3 p,
      h4 p,
      h5 p,
      h6 p {
        margin-top: 0;
      }
      li p.first {
        display: inline-block;
      }
      ol,
      ul {
        padding-left: 1.8em;
      }
      ol:first-child,
      ul:first-child {
        margin-top: 0;
      }
      ol:last-child,
      ul:last-child {
        margin-bottom: 0;
      }
      blockquote {
        background-color: #e2f0ff;
        border-left: 5px dotted #9ed0ff;
        padding: 1em 0.8em;
        font-size: .9em;
      }
      blockquote blockquote {
        padding-right: 0;
      }
      table {
        padding: 0;
        word-break: initial;
        width: 100%;
      }
      table tr {
        border-top: 0.0625em solid #dadfe6;
        margin: 0;
        padding: 0;
      }
      table tr th {
        font-weight: 400;
        border: 0.0625em solid #dadfe6;
        text-align: left;
        margin: 0;
        padding: 0.5em 0.8em;
      }
      table tr td {
        border: 0.0625em solid #dadfe6;
        text-align: left;
        margin: 0;
        padding: 0.5em 0.8em;
      }
      table tr td:first-child,
      table tr th:first-child {
        margin-top: 0;
      }
      table tr td:last-child,
      table tr th:last-child {
        margin-bottom: 0;
      }
      tt {
        font-size: 90%;
        border-radius: 0.1875em;
        font-family: "SF Mono",Consolas,"Liberation Mono",Menlo,Courier,monospace
      }
      tt {
        margin: 0 0.125em;
        padding: 0.125em 0.25em;
      }
      b,
      strong {
        font-weight: 500;
      }
      pre {
        position: relative;
      }
      p img {
        max-width: 80%;
      }
      .pre-block-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #{var(--background-color)};
        .loading-text {
          margin-top: 0.5em;
          font-size: 0.725em;
          color: #{var(--color-text-primary)};
        }
      }
      .span-todo-checkbox {
        display: inline-block;
        position: relative;
        top: 2px;
        border-radius: 2px;
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        margin-right: 0.25rem;
        background-color: #fff;
        border: 1px solid #dcdfe6;
        z-index: 1;
        transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);

        &:after {
          box-sizing: content-box;
          content: "";
          border: 1px solid #fff;
          border-left: 0;
          border-top: 0;
          height: 7px;
          left: 4px;
          position: absolute;
          top: 1px;
          transform: rotate(45deg) scaleY(0);
          width: 3px;
          transition: transform .15s ease-in .05s;
          transform-origin: center;
        }

        &.checked {
          background-color: #afec9e;
          border-color: #afec9e;

          &:after {
            transform: rotate(45deg) scaleY(1);
          }
        }

        & + input {
          display: none;
        }
      }
    }
  }
}

.ha__body.dark .ha__main-article {
  .ha__main-article-main {
    .ha__main-article-content {
      blockquote {
        background-color: #3a3c3d;
        border-left: 4px dotted #000;
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .ha__main-article {
    &-title {
      font-size: 2.5em;
    }
    &-description {
      font-size: 1em;
    }
    .ha__main-article-main {
      .ha__main-article-content {
        font-size: 1rem;
        &.ha__main-article-content-default {
          font-size: 1.2rem;
        }
        p img {
          max-width: 60%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {

}
