.ha__main-divider {
  position: relative;
  height: 6.25rem;
  text-align: center;
  border-top: 1px solid #e6eff4;
  border-bottom: 1px solid #e6eff4;
  background-color: #f7fafc;
  background-image: url('https://img.alicdn.com/imgextra/i1/2038135983/O1CN013eyOJe1u4GJLwBYrj_!!2038135983.png');
  background-size: auto 2rem;
  background-position: 0;
  background-repeat: no-repeat;
  margin: 3rem 0;
  overflow: hidden;

  .meow {
    position: absolute;
    top: 1.5625rem;
    left: 40rem;
    display: none;
    font-size: 1rem;
    opacity: 0.7;
    user-select: none;
  }
  &:hover {
    .meow {
      display: block;
    }
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .ha__main-divider {
    background-size: auto 2rem;
    background-position: 0;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {

}

.ha__body.dark .ha__main-divider {
  background-color: #000;
  border-top: 1px solid #0d1117;
  border-bottom: 1px solid #0d1117;
}
