.ha__footer {
  width: 100%;
  padding: 5rem 0;
  background-color: #{var(--footer-background-color)};

  &-meta {
    color: #{var(--footer-text-color)};
    text-shadow: -0.01em 0.01em #7952b3, -0.04em 0.04em #cce5ff;
  }

  &-nav {
    .nav-item {
      .nav-link {
        color: #{var(--footer-text-color)};
      }
    }
  }

  &-social {
    .nav-item {
      .nav-link {
        font-size: 1.2rem;
        color: #{var(--footer-text-color)};
        cursor: pointer;
      }
    }
  }

  &-copyright {
    font-size: 0.8rem;
    line-height: 3;
    margin-top: 4rem;
    a {
      color: #{var(--footer-text-color)};
      border-bottom: 1px solid #{var(--footer-text-color)};
    }
    p {
      margin: 0;
      color: #{var(--footer-text-color)};
    }
  }

  .main-footer-meta {
    color: #{var(--footer-text-color)};
  }
}
