.ha__article-sidebar {
  position: sticky;
  top: 10rem;
  font-size: 1rem;
  .toc-container.toc {
    overflow-y: auto;
    > .toc-list {
      overflow: hidden;
      position: relative;
      li {
        list-style: none;
      }
    }
    .toc-list {
      margin: 0;
      padding-left: 10px;
    }
    a.toc-link {
      color: currentColor;
      height: 100%;
    }
    .is-collapsible {
      max-height: 1000px;
      overflow: hidden;
      transition: all 300ms ease-in-out;
    }
    .is-collapsed {
      max-height: 0;
    }
    .is-position-fixed {
      position: fixed !important;
      top: 0;
    }
    .is-active-link {
      font-weight: 700;
    }
    .toc-link:before {
      background-color: #eee;
      content: '';
      display: inline-block;
      height: inherit;
      left: 0;
      margin-top: -1px;
      position: absolute;
      width: 2px;
    }
    .is-active-link:before {
      background-color: #9ed0ff;
    }
  }
  .ha__article-share {
    &-item {
      display: block;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      text-align: center;
      background-color: #{var(--background-color)};
      padding: 1rem;
      cursor: pointer;
      .share-icon {
        font-size: 1.5rem;
         &.fa-weibo {
           color: #e24040;
         }
         &.fa-qq {
           color: #3d93e0;
         }
         &.fa-weixin {
           color: #20b767;
         }
         &.fa-twitter {
           color: #1da1f2;
         }
      }
      .post-share-wechat-qr {}
    }
  }
}


