{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
  {{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
  <div class="container">
    <div class="hero-content">
      <h1 class="post-full-title">{{title}}</h1>
      <section class="post-full-meta">
        {{#primary_tag}}
          <span class="date-divider">/</span>
          <a href="{{url}}">{{name}}</a>
        {{/primary_tag}}
      </section>
    </div>
  </div>
  </section>
  {{!-- Everything inside the #post tags pulls data from the post --}}
  <main class="site-main container">
    <div class="inner row">
      <article>
        <section class="post-content custom-page-links">
          {{content}}
        </section>
      </article>
    </div>
  </main>

{{/post}}
