<footer class="ha__footer">
  <div class="ha__footer-meta text-center fw-bold">苍茫大地一剑尽挽破，何处繁华笙歌落。</div>
  {{navigation type="secondary"}}
  <ul class="nav justify-content-center ha__footer-social">
    <li class="nav-item">
      <a class="nav-link" href="https://qm.qq.com/cgi-bin/qm/qr?k=OSLqAxpvinqlSfrmkr_WpCF1q_OWov1x&jump_from=webapi" target="_blank" rel="nofollow noopener"><i class="fab fa-qq"></i></a>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="tooltip"
         data-bs-placement="top"
         title="<img class='wechat-qrcode' src='https://cdn.jsdelivr.net/gh/JaxsonWang/jaxsonwang.github.io/images/wechat.jpg' />"
         class="nav-link"
      >
        <i class="fab fa-weixin"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://weibo.com/JaxsonWang" target="_blank" rel="nofollow noopener"><i class="fab fa-weibo"></i></a>
    </li>
    {{#if @site.twitter}}
      <li class="nav-item">
        <a class="nav-link" href="{{twitter_url @site.twitter}}" target="_blank" rel="nofollow noopener"><i class="fab fa-twitter"></i></a>
      </li>
    {{/if}}
    {{#if @site.facebook}}
      <li class="nav-item">
        <a class="nav-link" href="{{facebook_url @site.facebook}}" target="_blank" rel="nofollow noopener"><i class="fab fa-facebook-f"></i></a>
      </li>
    {{/if}}
  </ul>
  <div class="ha__footer-copyright main-footer">
    <div class="container d-flex justify-content-md-between justify-content-center">
      <div class="text-center main-footer-copyright">
        <p>Powered by <a href="https://ghost.org/" rel="noopener nofollow" target="_blank">Ghost</a>. Copyright &copy; 2021 ~ {{date format="YYYY"}}. ❤️ Crafted with <a href="https://iiong.com" target="_blank" rel="noopener nofollow">SoldOut</a> Theme.</p>
      </div>
      <div class="d-none d-md-block main-footer-meta">只争朝夕，不负韶华。</div>
    </div>
    <div class="container d-flex flex-wrap-reverse justify-content-md-between justify-content-center text-center main-footer-audit">
      <p>
        <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener">苏ICP备15050739号</a>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener">苏公网安备32010402000196号</a>
        <a href="https://tongji.baidu.com/web/welcome/ico?s=075de8ed5c2bfb5f678b1a620749aee4" target="_blank" rel="nofollow noopener">百度统计</a>
      </p>
    </div>
  </div>
</footer>
{{> "site-search"}}
