<div class="d-flex justify-content-center align-items-center flex-column animated fixed-to-top click-to-top">
  <i class="fas fa-angle-double-up"></i>
  {{#is "post"}}
    <span class="animated progress-number"></span>
  {{/is}}
</div>
